@model Project.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center text-info">@ViewData["Title"]</h1>
        <hr />
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="StockQuantity" class="control-label"></label>
                        <input asp-for="StockQuantity" class="form-control" />
                        <span asp-validation-for="StockQuantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="UnitaryAmount" class="control-label"></label>
                        <input asp-for="UnitaryAmount" class="form-control" />
                        <span asp-validation-for="UnitaryAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Level" class="control-label"></label>
                        <select asp-for="Level" class="form-select" asp-items="Html.GetEnumSelectList<Level>()"></select>
                    </div>
                </div>
                 <div class="col-4">
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <div class="input-group">
                            <input  asp-for="ImageFile" class="form-control">
                        </div>
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
             <div class="row">
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                     <a asp-action="Index" class="btn btn-warning btn-sm">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
